/* Comment header
<!-- c2b2b4-6b4e71-3a4454-53687e-f5dddd -->
*/
body {
    background-color: #c2b2b4;
    color: #3a4454;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #6b4e71;
    color: #c2b2b4;
}

h1 {
    margin-top: 0px;
    padding-top: 10px;
}

header p {
    font-size: 0.6em;
    text-align: right;
    margin-bottom: 0px;
}

nav {
    background-color: #53687e;
    color: #f5dddd;
    margin: 0px;
    padding: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    padding: 0px;
    margin: 0px;
    display: inline; 
}

nav a {
    color: #f5dddd;
    text-decoration: none;
    margin: 0px;
    padding: 0px 10px;
}

nav a:hover {
    background-color: #3a4454;
    text-decoration: underline;
    color: #c2b2b4;
}

footer {
    border-top: #3a4454 2px solid;
    padding: 10px 0px;
    text-align: center;
}

footer p, footer ul, footer li {
    font-size: 0.5em;
    color: #3a4454;
    margin: 1px;
    padding: 1px;
}

footer li {
    display: inline;
    margin: 5px;
}

article {
    width: 60%;
    padding: 10px;
    border: #3a4454 1px solid;
    margin: 10px auto;
    background-color: #f5dddd;
}

article h2 {
    color: #6b4e71;
    margin-bottom: 0px;
}

article blockquote {
    margin: 0px 0px 15px 5px;
    color: #53687e;
}