/*
Title: Basics of DOM css
Description: CSS file for Basics of DOM
Author: Clint MacDonald
Date: Nov. 2025
*/

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    margin-top: 0px;
    background-color: #f4f4f4;
}

#placeholder, #placeholder2, #placeholder3, #placeholder4 {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
}

#placeholder4 {
    display: flex;
    gap: 10px;
}
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: gold
}

section {
    margin: 10px;
    padding: 0;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #e2e2e2;
}

section h2 {
    margin-top: 0;
    background-color: #cccccc;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}   

section p, section a {
    padding: 0 10px;
}

section a, section a:visited {
    text-decoration: none;
    color: #0066cc;
}

section a:hover {
    text-decoration: underline;
    color: red;
}

